@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-01: #0F52BA;
    --color-02: #F9F9F9;
    --color-03: #373737;
    --color-04: #2C2C2C;
    --color-05: #EEEEEE;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    padding-top: 63px;
    background-color: var(--color-02);
    & header{
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 24px;
        background-color: var(--color-01);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        & span#logo{
            color: #fff;
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 32px;
            & span{
                font-weight: 300;
                font-size: 16px;
            }
        }
        & div#cart-trigger{
            width: 52px;
            height: 26px;  
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 8px;            
            background-color: #fff;
            cursor: pointer;
            & span#cart-counter{
                color: #000;
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 12px;
            }
        }
    }
    & div#catalog{
        display: grid;
        justify-content: center;
        grid-template-columns: 250px;
        row-gap: 12px;
        padding: 12px 0 24px 0;
        margin: 0 auto;
        & div.catalog-item{
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.14);
            overflow: hidden;
            background-color: #fff;
            & div.content-item{
                display: flex;
                flex-direction: column;
                padding: 12px;
                & img{
                    height: 150px; 
                    margin: 0 auto;  
                }
                & div.row-title-price{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 12px 0;
                    & h2{
                        max-width: 142px;
                        color: var(--color-04);
                        font-family: "Montserrat", sans-serif;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 16px;
                    }
                    & span{
                        color: #fff;
                        font-family: "Montserrat", sans-serif;
                        font-weight: 700;
                        font-style: normal;
                        font-size: 14px;
                        text-align: center;
                        padding: 5px 10px;
                        border-radius: 5px;
                        background-color: var(--color-03);
                    }
                }
                & p{
                    color: var(--color-04);
                    font-family: "Montserrat", sans-serif;
                    font-weight: 300;
                    font-style: normal;
                    font-size: 10px;
                }
            }
            & div.buy-item-bar{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 12px;
                padding: 12px;
                margin-top: auto;
                border: none;
                cursor: pointer;
                background-color: var(--color-01);
                & span{
                    color: #fff;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-style: normal;
                    font-size: 15px;
                    text-transform: uppercase;
                }
            }
        }
    }
    & div#checkout{
        height: 100vh;
        max-width: 495px;
        width: 90%;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(110%);
        transition: 2s;
        padding: 25px 32px;
        background-color: var(--color-01);
        box-shadow: -5px 0px 6px 0px rgba(0, 0, 0, 0.13);
        & h2{
            color: #fff;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 27px;
            max-width: 180px;
        }
        & button#close-checkout-btn{
            height: 45px;
            width: 45px;
            position: absolute;
            top: 25px;
            right: 15px;
            border-radius: 50%;
            background-color: #000;
            cursor: pointer;
            border: none;
            & span{
                color: var(--color-01);
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 44px;
                line-height: 15px;
            }
        }
        & div#void{
            height: 100%;
        }
        & div#void.hidden{
            display: none;
        }
        & div#cart{
            height: 100%;
            display: grid;
            justify-content: center;
            grid-template-columns: 250px;
            grid-template-rows: 220px;
            row-gap: 12px;
            overflow: auto;
            margin-top: 24px;
            margin-bottom: 52px;
            & div.cart-item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 12px;
                position: relative;
                height: 220px;
                padding: 12px 24px;
                border-radius: 8px;
                background-color: #fff;
                box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.14);
                & button.remove-cart-item{
                    position: absolute;
                    top: 9.81px;
                    right: 14px;
                    border: none;
                    cursor: pointer;
                    background-color: transparent;
                    & span{
                        color: #000;
                        font-family: "Montserrat", sans-serif;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 42px;
                        line-height: 17px;
                    }
                }
                & img{
                    height: 90px;
                }
                & h2{
                    color: #2C2C2C;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                }
                & div.row-unit-price{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & div.unit-controller{
                        width: 100px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        border-radius: 4px;
                        border: 0.3px solid #BFBFBF;
                        & button, span{
                            color: #000;
                            font-family: "Montserrat", sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                        & button{
                            cursor: pointer;
                            border: none;
                            background-color: transparent;
                        }
                        & button.less{
                            font-size: 24px;
                        }
                        & span.unit{
                            font-size: 20px;
                        }
                        & button.more{
                            font-size: 22px;
                        }
                    }
                    & span.price{
                        color: #FFF;
                        font-family: "Montserrat", sans-serif;
                        font-weight: 700;
                        font-style: normal;
                        font-size: 15px;
                        line-height: 15px;
                        padding: 8px 14px;
                        border-radius: 5px;
                        background-color: var(--color-04);
                    }
                }
            }
        }
        & div#cart.hidden{
            display: none;
        }
        & ul#order-details{
            list-style: none;
            margin-bottom: 32px;
            & li{
                display: flex;
                justify-content: space-between;
                align-items: center;
                & span{
                    color: #FFF;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 28px;
                    line-height: 15px;
                }
            }
        }
        & button#cta{
            color: #fff;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 20px;
            line-height: 15px;
            margin-left: -32px;
            margin-right: -32px;
            margin-bottom: -25px;
            padding: 25px 55px;
            border: none;
            cursor: pointer;
            background-color: #000;
        }
    }
    & div#checkout.active{
        transform: translateX(0);
    }
    & footer{
        color: #000;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        text-align: center;
        padding: 10px 0;
        background-color: var(--color-05);
    }
}

.skeleton {
    height: 230px;
    width: 200px;
    background: linear-gradient(90deg, #dcdcdc 20%, #f4f4f4 60%, #dcdcdc 80%);
    background-size: 200% 100%;
    border-radius: 18px;
    margin: 0 auto;
    animation: 2s shine linear infinite;
    pointer-events: none;
}
  
@keyframes shine {
    to {
      background-position-x: -200%;
    }
}

@media (min-width: 640px){
    body{
        padding-top: 93px;
        & header{
            padding: 24px 64px;
            & div#cart-trigger{
                width: 90px;
                height: 45px;
                & img{
                    width: 19px;
                    height: 18px;
                }
                & span#cart-counter{
                    font-size: 18px;
                }
            }
        }
        & div#catalog{
            grid-template-columns: repeat(auto-fill, 215px);
            max-width: 950px;
            column-gap: 20px;
            row-gap: 30px;
            padding: 80px 0 215px 0;
            & div.catalog-item{
                & div.content-item{
                    & img{
                        min-height: 115px;
                        max-height: 140px;
                    }                    
                    & div.row-title-price{
                        & h2{
                            max-width: 112px;
                            font-size: 14px;
                        }
                        & span{
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        & div#checkout{
            & button#close-checkout-btn{
                height: 38px;
                width: 38px;
                & span{
                    font-size: 28px;
                    color: #fff;
                }
            }
            & div#cart{
                padding-top: 5px;
                grid-template-columns: 380px;
                grid-template-rows: 100px;
                & div.cart-item{
                    justify-content: space-between;
                    flex-direction: row;
                    height: 100px;
                    & img{
                        height: 50px;
                    }
                    & h2{
                        font-size: 13px;
                        text-align: start;
                        max-width: 112px;
                    }
                    & button.remove-cart-item{
                        width: 18px;
                        height: 18px;
                        top: -5px;
                        right: -8px;
                        border-radius: 50%;
                        background-color: #000;
                        & span{
                            color: #fff;
                            font-size: 14px;
                        }
                    }
                    & div.row-unit-price{
                        width: auto;
                        gap: 24px;
                        & div.unit-controller{
                            width: 50px;
                            & button.less{
                                font-size: 12px;
                            }
                            & span.unit{
                                font-size: 8px;
                            }
                            & button.more{
                                font-size: 8px;
                            }
                        }
                        & span.price{
                            padding: 0;
                            color: #000;
                            font-size: 14px;
                            background: transparent;
                        }
                    }
                }

                &::-webkit-scrollbar{
                    width: 12px;
                }
                &::-webkit-scrollbar-track{
                    background: transparent;  
                    border: 1px solid var(--color-03);
                    border-radius: 20px;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: var(--color-03); 
                    border-radius: 20px;
                }
            }
        }
    }
}